.regist{
	margin-top:50px;
	width:500px;
	position:absolute;
	left:500px;
}
.login{
	margin-top:50px;
	width:500px;
	position:absolute;
	left:500px;
}
#namelHelp, #emailHelp, #loginHelp, #countryHelp, #passHelp, #dateHelp{
	color: red;
	display: none;
	font-size: 14px;
}
.favor_day{
	width:100px;
	margin-left: 21px;
	display:inline-block;
}
.btn{
	margin-top:20px;
	width:100%;
}
p{
	color:red;
}